[[source]]
url = "http://pypi.douban.com/simple/"
verify_ssl = false
name = "pypi"

[packages]
aiohttp = "*"
aioredis = "*"
aiomysql = "*"
pyyaml = "*"
sqlalchemy = "*"
click = "*"
aiocache = "*"
aioamqp = "*"

[dev-packages]
pytest-aiohttp = "*"
pylint = "*"
aiohttp-devtools = "*"
"autopep8" = "*"
"flake8" = "*"
pycodestyle = "<2.4.0"
rope = "*"

[requires]
python_version = "3"
